# React
frontend/node_modules/

# Python virtual environments
backend/venv/
backend/.venv/

# Visual Studio
.vs/

# Python cache
__pycache__/
*.pyc

# Environment files
.env
backend/.env
frontend/.env