.goog-tooltip,
.goog-tooltip:hover,
.goog-text-highlight {
    display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
    visibility: hidden !important;
}

body {
    top: 0 !important;
}